USE [master]
GO
/****** Object:  Database [onlineaidbd]    Script Date: 5/21/2015 2:53:00 AM ******/
CREATE DATABASE [onlineaidbd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'onlineaidbd', FILENAME = N'D:\software\Software\Project\onlineaidbd\onlineaidbd.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'onlineaidbd_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\onlineaidbd_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [onlineaidbd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [onlineaidbd]
GO
/****** Object:  Table [dbo].[BalanceTable]    Script Date: 5/21/2015 2:53:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BalanceTable](
	[BalanceId] [int] NULL,
	[BalanceAmount] [varchar](50) NULL,
	[StudentId] [int] NULL,
	[DepositDate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CostTable]    Script Date: 5/21/2015 2:53:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CostTable](
	[CostId] [int] NULL,
	[CostPurpose] [varchar](50) NULL,
	[CostDate] [date] NULL,
	[CostBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course]    Script Date: 5/21/2015 2:53:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[CourseId] [int] NOT NULL,
	[CourseCode] [varchar](50) NULL,
	[CourseTitle] [varchar](150) NULL,
	[CourseDuration] [varchar](50) NULL,
	[RoutineId] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoutineTable]    Script Date: 5/21/2015 2:53:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoutineTable](
	[RoutineId] [int] NULL,
	[StartDate] [smalldatetime] NULL,
	[Schedule1] [datetime] NULL,
	[Schedule2] [datetime] NULL,
	[Schedule3] [datetime] NULL,
	[Schedule4] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentTable]    Script Date: 5/21/2015 2:53:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentTable](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StName] [varchar](50) NULL,
	[StMobile] [varchar](50) NULL,
	[StEmail] [varchar](50) NULL,
	[StAddress] [varchar](250) NULL,
	[StEducation] [varchar](50) NULL,
	[CourseId] [int] NULL,
	[BalanceId] [int] NULL,
 CONSTRAINT [PK_StudentTable] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 5/21/2015 2:53:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherId] [int] NULL,
	[TecherName] [varchar](50) NULL,
	[TeacherDesignation] [varchar](50) NULL,
	[CourseId] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
